{% extends "layouts/base.html" %}

{% block content %}
<section class="py-9">
  <div class="container">
    <div class="row">
        <div class="col-lg-6 my-auto">
          <h3>{{ newspaper.title }}</h3>
          <p style="font-style: italic">
            {{ newspaper.published_date }} by
              {% for publisher in newspaper.publishers.all %}
                <a href="{% url 'app:redactor-detail' pk=publisher.id %}">
                  {{ publisher.get_full_name|default:publisher.username }}{% if not forloop.last %}, {% endif %}
                </a>
              {% endfor %}
          </p>
          <p>{{ newspaper.content }}</p>
          <div>
            <a href="{% url 'app:newspaper-update' pk=newspaper.id %}">Update article</a>
          </div>
          <div>
            <a href="{% url 'app:newspaper-delete' pk=newspaper.id %}">Delete article</a>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
