{% extends "layouts/base.html" %}

{% block content %}

<section class="py-9">
  <div class="container">
    <div class="row">
        <div class="col-lg-6 my-auto">
          <h3>{{ newspaper.title }}</h3>
          <p style="font-style: italic">
            {{ newspaper.published_date }} by
            {% for publisher in newspaper.publishers.all %}
              {{ publisher.get_full_name|default:publisher.username }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          <p>{{ newspaper.content }}</p>
        </div>
      </div>
    </div>
</section>


{% endblock %}
