{% extends "layouts/base.html" %}

{% block content %}

<section class="py-9">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-auto">
        <h3>Articles about "{{ topic.name }}"</h3>
      </div>
      <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
        <ul class="list-unstyled">
          {% for newspaper in newspapers %}
          <li class="p-3 info-horizontal mb-3">
            <div class="icon icon-shape bg-gradient-primary shadow-primary text-center">
              <i class="fas fa-ship opacity-10"></i>
            </div>
            <div class="description ps-3">
              <a href="{% url 'app:newspaper-detail' pk=newspaper.id %}">
                <strong>{{ newspaper.title }}</strong>
              </a>
              <p class="mb-0">Published on: {{ newspaper.published_date }}</p>
            </div>
          </li>
          {% empty %}
          <p>No articles found for this topic.</p>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
