
  <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-1 mb-4 ms-auto">
            <a href="{% url "app:index" %}">
              <img src="{{ ASSETS_ROOT }}/img/logo-ct-dark.png" class="mb-3 footer-logo" alt="main_logo">
            </a>
          </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Newspaper Track System</h6>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Contact us: support@newstrack.com</h6>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">
              <a href="{% url "app:index" %}">Privacy Policy |</a>
              <a href="{% url "app:index" %}">Terms of Use |</a>
              <a href="{% url "app:index" %}">About Us |</a>
              <a href="{% url "app:index" %}">Feedback </a>
            </h6>
          </div>
        </div>

        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
             <a href="{% url "app:index" %}" class="font-weight-bold" target="_blank">© 2025 NewsTrack. All rights reserved.</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>


